body {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    background-color: rgb(41, 41, 41);
    color: white;
}

a:link,
a:visited {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    text-decoration: underline;
    color: white;
}

ul {
    display: table;
    margin: 0 auto;
}

.luna {
    width: 1400px;
    height: 700px;
    border-radius: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 20px black;
}

#lasagna {
    border-radius: 50%;
    position: absolute;
    top: 400px;
    left: 750px;
}

#borgur {
    width: auto;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    left: 1250px;
}

#spaggy {
    width: auto;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    left: 275px;
}

#chef-hat {
    width: auto;
    height: 310px;
    position: absolute;
    top: -40px;
    left: 575px;
    transform: rotate(10deg);
    
}